body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #2c3e50; /* Warna gelap teknikal */
}

.canvas {
    position: relative;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
    line-height: 0;
}

.poster-img {
    width: 100%;
    height: auto;
    display: block;
}
